[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/richael02
[access "refs/for/refs/*"]
	read = group user/richael02
	push = group user/richael02
	label-Code-Review = -2..+2 group user/richael02
	label-Verified = -1..+1 group user/richael02
	rebase = group user/richael02
	removeReviewer = group user/richael02
	submit = group user/richael02
[access "refs/heads/*"]
	read = group user/richael02
	create = group user/richael02
	push = +force group user/richael02
	pushMerge = group user/richael02
[access "refs/tags/*"]
	push = group user/richael02
	push = +force group user/richael02
